.container {
    max-width: 800px;
    margin: 20px auto;
    margin-top: 50px;                   /* Precisa colocar para respeitar o espaço do header, que contem 50px, assim o conteudo nao vai ser ''comido'' pelo header. */
    padding: 20px;
}

mat-card-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color:rgb(29, 131, 226) 
}

mat-list-item {
    font-size: 16px;
    padding: 5px 0;
}

.carousel-inner img {
    height: 400px;       /* ou o tamanho que quiser */
    object-fit: cover;   /* faz a imagem se ajustar sem distorcer */
    width: 100%;         /* garante que ocupe toda a largura do carrossel */
    margin-top: 30px;
    margin-bottom: 30px;
}

.imagem-central {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-central img {
    width: 300px;
    height: 600px;
    object-fit: cover;
    margin-bottom: 40px;
}

h3{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color:rgb(31, 91, 182) 
}

.imagem-final {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-final img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-top: 30px;
}